/* Accomodations component */
div#accomodations {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 24px;
  gap: 16px;
  position: relative;
}
a.accomodation-link {
  text-decoration: none;
  color: black;
}
div#accomodations.accomodations-hidden {
  display: none;
}

/* Accomodation Card */
div.accomodation-card {
  border-radius: 24px;
}

div.card-container {
  display: flex;
  flex-direction: column;
  margin: 8px;
}

img.photo {
  width: 100%;
  height: 250px;
  border-radius: 24px;
  object-fit: cover;
}

div.title {
  margin-top: 6px;
  margin-bottom: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
span.name {
  font-weight: 700;
  font-size: 1.1em;
}

span.rating {
  font-size: 1.1em;
}

span.location {
  margin-bottom: 6px;
}

/* --------------------------------------------------------------- */
@media screen and (max-width: 1180px) {
  div#accomodations {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 900px) {
  div#accomodations {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  div#accomodations {
    grid-template-columns: 1fr;
  }
  span.name {
    font-size: 1em;
  }
  span.rating {
    font-size: 1em;
  }
  span.location {
    font-size: 0.9em;
  }
  span.price {
    font-size: 0.9em;
  }
}