/* Container date picker mobile */
div.date-picker-mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
}

/* Nomi giorni settimana */
div.weekdays-mobile {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

div.weekday-mobile {
  color: var(--textgraycolor);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mesi scrollabili */
div.months-scroll {
  width: 100%;
  /* TODO: così scrolla ma non si adatta all'altezza dei componenti */
  max-height: 70vh;
  overflow-y: scroll;
}
div.months-scroll::-webkit-scrollbar {
  display: none;
}

/* Calendario */
div.month-container-mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
}

div.month-mobile {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

div.day-mobile-container {
  background-color: inherit;
}
div.day-mobile-container.interval {
  background-color: var(--bgcolordark);
}
div.day-mobile-container.interval-first {
  background-image: linear-gradient(to right, #FFF 30%, var(--bgcolordark));
}
div.day-mobile-container.interval-last {
  background-image: linear-gradient(to right, var(--bgcolordark), #FFF 30%);
}
div.day-mobile-container.interval.last-day + div, 
div.day-mobile-container.interval-first.last-day + div {
  background-image: linear-gradient(to right, var(--bgcolordark), #FFF);
}
div.day-mobile-container.before-interval {
  background-image: linear-gradient(to right, #FFF, var(--bgcolordark));
}


div.day-mobile {
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 600;
}
div.day-mobile:not(.day-mobile-before):hover {
  border: solid 1px black;
  cursor: pointer;
}

div.day-mobile-before {
  color: var(--grayhovercolor);
}

div.day-mobile.selected {
  background-color: black;
  color: #FFF;
}