/* Container region picker mobile */
div.region-picker-mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
}

/* Text input destinazione */
.text-input-mobile {
  width: 100%;
  height: 54px;
  border: solid 1px var(--grayhovercolor);
  border-radius: 8px;
  padding: 0 20px 0 20px;
  display: flex;

  & .icon-container {
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & input {
    width: 100%;
    border: none;
    border-radius: inherit;
    font-size: large;
    /* background-color: cadetblue; */
  }

  & input:focus {
    outline: none;
  }
}