---
import RegionCard from "./RegionCard.astro"
import { 
  searchFormPickersDimensions as pickerDimensions, 
  generateCSSConstants } from "../../styles/constants"

const regions = [
  {image: "../../../images/world.jpg", text: "Sono Flessibile"},
  {image: "../../../images/usa.webp", text: "Stati Uniti"},
  {image: "../../../images/spain.webp", text: "Spagna"},
  {image: "../../../images/south-america.webp", text: "America del Sud"},
  {image: "../../../images/uk.webp", text: "Regno Unito"},
  {image: "../../../images/africa.webp", text: "Africa"},
]
---
<div class="region-picker" style={generateCSSConstants(pickerDimensions, "px")}>
  <h2>Cerca per regione</h2>
  <div class="regions-container">
    {regions.map((region) => (
      <RegionCard
        image={region.image}
        text={region.text}
      />
    ))}
  </div>
</div>

<style>
  div.region-picker {
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 10px 5px var(--grayhovercolor);
    border-radius: var(--pickerBorderRadius);
    margin-top: 12px;
    padding: 32px 24px 32px 24px;
    width: calc(var(--formW) / 2);
    left: calc((100vw - var(--formW)) / 2);
  }
  div.region-picker.hidden {
    display: none;
  }
  h2 {
    margin: 0 0 16px 8px;
  }
  div.regions-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
  }

  @media screen and (max-width: 850px) {
    div.region-picker {
      left: calc((100vw - var(--formTabletW)) / 2);
    }
  }
</style>