---
import { searchFormDimensions, generateCSSConstants } from "../../styles/constants"

const { label, placeholder } = Astro.props
---
<label style={generateCSSConstants(searchFormDimensions, "px")}>
  <span>{label}</span>
  <input 
    type="text"
    placeholder={placeholder}
  >
</label>

<style>
  label {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: var(--paddingLabelV) var(--paddingLabelH);
    border-radius: var(--formBorderRadius);
  }
  label:hover {
    cursor: pointer;
    background-color: var(--grayhovercolor);
  }
  span {
    font-size: 0.8em;
    font-weight: 600;
    line-height: var(--spanLineHeight);
  }
  input {
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Quicksand", sans-serif;
    font-size: 0.9em;
    font-weight: normal;
    line-height: var(--inputLineHeight);
    background-color: inherit;
  }
  input:focus {
    outline-style: none;
  }
</style>