/* Imports */
@import url('../styles/fonts.css');

/* ------------------------------------------------------------------------------------- */
/* Main styles */
:root {
  --bgcolor: #FAFAFA;
  --bgcolordark: #EEEEEE;
  --textcolor: #18181B;
  --textgraycolor: #6A6A6A;
  --textlightgraycolor: #B2B2B2;
  --bglighgraycolor: #E6E6E9;
  --grayhovercolor: #D6D6D9;
  --primarycolor: #FE395C;
  --shadowcolor: rgba(0, 0, 0, 0.5)
}

html {
  background-color: var(--bgcolor);
  font-family: "Quicksand", sans-serif;
  color: var(--textcolor);
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
}

* {
  box-sizing: border-box;
}

h2 {
  font-weight: 700;
  font-size: 1.5em;
  margin: 0;
}

input {
  font-family: "Quicksand", sans-serif;
}

div.error-message {
  width: 100%;
  text-align: center;
  margin-top: 24px;
}