---

---

<header>
  <div>
    <nav class="navbar">
      <div class="nav-item">Affitta il tuo alloggio</div>
      <div class="nav-item">LOGO</div>
      <div class="nav-item">Lingua e profilo</div>
    </nav>
  </div>
</header>

<style>


  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
</style>
