---
import LanguageIcon from "../../public/language.svg"
import HamburgerIcon from "../../public/hamburger.svg"
import AccountIcon from "../../public/account-circle.svg"
---

<nav class="navbar">
  <div class="nav-item"><a class="nav-link" href="#">Affitta il tuo alloggio</a></div>
  <div class="nav-item"><a class="logo" href="#">easybnb</a></div>
  <div class="nav-item">
    <a class="lang" href="#"><LanguageIcon height={20} width={20} /></a>
    <div class="profile-button">
      <button type="button">
        <HamburgerIcon />
        <AccountIcon />
      </button>
    </div>
  </div>
</nav>

<style>
  .navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 40px;
  }
  .nav-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-link {
    text-decoration: none;
    color: inherit;
    line-height: 20px;
    padding: 12px;
    border-radius: 22px;
    font-weight: 600;
  }
  .nav-link:hover {
    background-color: var(--grayhovercolor);
  }
  .logo {
    text-decoration: none;
    color: var(--primarycolor);
    font-weight: 700;
    font-size: 2em;
  }
  .lang {
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .lang:hover {
    background-color: var(--grayhovercolor);
  }
  .profile-button {
    margin-left: 6px;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 48px;
    border-radius: 24px;
    border: solid 1px var(--grayhovercolor);
    background-color: var(--bgcolor);
    padding: 8px;
    padding-left: 14px;
  }
  button:hover {
    cursor: pointer;
    box-shadow: 0 5px 5px var(--grayhovercolor);
  }
  @media screen and (max-width: 760px) {
    .navbar {
      display: none;
    }
  }
</style>
