---
// Components
// -- astro
import Header from "../components/Header.astro"
// -- react
import Accomodations from "../components/Accomodations.jsx"
import FormDialog from "../components/form-components/FormDialog.jsx"

// Styles
import "../styles/global.css"
---
<html lang="it">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>Easybnb</title>
	</head>
	<body>
    <Header client:load />
		<Accomodations client:load />
		<FormDialog client:load />
	</body>
</html>
